body {
    font-family: cursive;
    margin: 0;
    padding: 0;
  }
  
  input[type="number"] {
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 15px;
  }
  
  input[type="submit"] {
    padding: 10px 30px;
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    border-radius: 15px;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
  }
  
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  p > span {
    color: crimson;
    font-weight: bold;
    font-size: 60px;
  }