<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/confirm.css">
    <title>My Products Mgmt WebApp - an Express.JS Routing Demo</title>
</head>
<body>
    <header>
        <nav>
            <ul id="ulNavItems">
                <li>
                    <a id="hyplnkAppBranding" href="/">
                        My Products Mgmt WebApp - an Express.JS Routing Demo
                    </a>
                </li>
            </ul>
        </nav>
        <div id="divHeaderRightContent">
            <span style="float: right;">Welcome, Guest</span>
        </div>        
    </header>
    <main style="margin-left: 2em;margin-right: 2em;">
        <h2>Your New Product data has been added</h2>
        <section>
            <p>
                <a href="/product-form">Add another new Product</a> | 
                <a href="/">Home</a>
            </p>
            ul 
                li #{products[products.length-1].productNumber} - #{products[products.length-1].productName} - #{products[products.length-1].unitPrice}
        </section>
    </main>
</body>
</html>